.no-node-icon {
	display:none !important;
}

.icon-add {
	background-image: url(../images/creatingSiteStructure/add.gif) !important;
}

.icon-edit {
	background-image: url(../images/creatingSiteStructure/edit.gif) !important;
}

.icon-del {
	background-image: url(../images/creatingSiteStructure/del.gif) !important;
}

.upload-icon {
	background: url(../images/fileUpload/image_add.png) no-repeat 0 0 !important;
}

body, div, a{
	margin: 0;
	padding: 0;
}